.financial-container {
  --financial-button-bar-height: 54px;
  --selector-search-box-height: 44px;

  --financial-body-height: calc(100vh - var(--body-height) - var(--component-header-height) - var(--financial-button-bar-height));
  --selector-body-height: calc(100vh - var(--body-height) - var(--component-header-height) - var(--financial-button-bar-height) - var(--selector-search-box-height));
}

.instrument-list {
  height: var(--financial-body-height);
  overflow-x: hidden;
  overflow-y: auto;
}

.instrument-selector {
  height: var(--selector-body-height);
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.instrument-selector-search-box {
  padding: 0px 0px 10px;
  margin: -1px 20px 0px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.instrument-list-show {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.instrument-list-hide {
  animation-name: slide-out-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.instrument-list-cover {
  animation-name: slide-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.instrument-list-uncover {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.instrument-row {
  border-bottom: 1px solid rgb(242, 242, 242);
  padding: 0.5em 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.instrument-name {
  font-weight: bold;
  color: rgb(77, 77, 77);
}

.instrument-name-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.instrument-rate {
  font-size: 0.8em;
  color: rgb(77, 77, 77);
}

.instrument-delete {
  font-size: 0.8em;
  font-weight: bold;
  text-align: right;
  padding-top: 0.85em;

  & a {
    color: rgb(239, 70, 55);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.instrument-selector {
  & .instrument-row {
    cursor: pointer;
    padding-left: 10px;
  }
}

.instrument-selector-show {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.instrument-selector-hide {
  animation-name: slide-out-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.instrument-selector-popular {
  font-weight: bold;
  font-size: 0.8em;
  color: rgb(77, 77, 77);
  margin: 0px;
  padding: 0px 20px;
}

.instrument-selector-checkbox {
  position: absolute;
  margin-top: 0.5em;

  input[type=checkbox] { display:none; }

  input[type=checkbox] + label:before {
    font-family: FontAwesome;
    color: #4d4d4d;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    content: '\f096';
    cursor: pointer;
  }

  input[type=checkbox]:checked + label:before {
    color: #FFF;
    content: '\f14a';
  }
}

.instrument-selector-name {
  display: inline-block;
  margin-left: 1.75em;
}

.instrument-selector-no-results {
  color: rgb(77, 77, 77);

  & > h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px 0px;
  }

  & > div:first-child {
    font-weight: bold;
  }

  & a:hover {
    text-decoration: underline;
  }
}

.instrument-row--is-selected {
  background: #4ab767;

  & .instrument-name {
    color: #FFF;
  }

  & .instrument-rate {
    color: #FFF;
  }
}

.financial-action-button-bar {
  height: var(--financial-button-bar-height);
  padding: 10px 20px;

  & > div {
    background: #FFF;
  }
}
