@media (min-width: $screen-sm) {
  .image-component-container {
    --image-component-list-button-bar-height: 115px;
    --image-component-body-height: calc(100vh - var(--body-height) - var(--component-header-height));
  }
}

@media (max-width: $screen-sm) {
  .image-component-container {
    --image-component-list-button-bar-height: 120px;
    --image-component-body-height: calc(100vh - var(--body-height));
  }
}

.image-component-list {
  --thumbnail-width: 80px;

  height: calc(var(--image-component-body-height) - var(--image-component-list-button-bar-height));
  overflow-x: hidden;
  overflow-y: auto;

  .image-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(242, 242, 242);
    margin-left: 20px;
    margin-right: 20px;

    .image-thumbnail {
      margin-right: 20px;

      div {
        width: var(--thumbnail-width);
      }
    }

    .image-entry {
      flex-grow: 1;
      width: calc(var(--sidebar-width) - var(--thumbnail-width) - 60px);

      .image-entry-top {
        display: flex;
        flex-wrap: nowrap;

        .image-name {
          flex-grow: 1;
          font-weight: bold;
          color: $dark-gray;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        a {
          color: red;
          text-decoration: none;
          margin-left: 5px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .image-not-available {
        color: red;
        font-size: 0.8em;
      }
    }
  }

  .image-component-list-empty {
    color: $mid-gray;
    margin: 20px;

    h2 {
      font-size: 1.1em;
      font-weight: bold;
      padding: 0;
      margin-top: 0;
    }

    p {
      color: $dark-gray;
      font-size: 0.75em;
      line-height: 1.2;
      padding-bottom: 20px;
    }

    img {
      margin: 0 auto;
    }
  }
}

.image-component-list-action-button-bar {
  height: var(--image-component-list-button-bar-height);
  padding: 0px 20px;
  background: $white;

  & .upload-images {
    padding: 18px 0 0 0;
    border-top: 1px solid $light-gray;
  }

  & .select-from-storage {
    padding: 10px 0 0 0;

    button {
      background: $white;
      border-width: 2px;
      color: $rise-green;
    }
  }
}

// Storage
@media (min-width: $screen-sm) {
  .storage-selector-container {
    --storage-selector-button-bar-height: 70px;
    --storage-selector-body-height: calc(100vh - var(--body-height) - var(--component-header-height));
  }
}

@media (max-width: $screen-sm) {
  .storage-selector-container {
    --storage-selector-button-bar-height: 75px;
    --storage-selector-body-height: calc(100vh - var(--body-height));
  }
}

.storage-selector-component {
  height: calc(var(--storage-selector-body-height) - var(--storage-selector-button-bar-height));
  overflow-x: hidden;
  overflow-y: auto;

  .storage-selector-list-empty {
    color: $mid-gray;
    margin: 20px;

    h2 {
      font-size: 1.1em;
      font-weight: bold;
      padding: 0;
      margin-top: 0;
    }

    p {
      color: $dark-gray;
      font-size: 0.75em;
      line-height: 1.2;
      padding-bottom: 20px;
    }

    img {
      margin: 0 auto;
    }
  }
}

.storage-selector-action-button-bar {
  height: var(--storage-selector-button-bar-height);
  padding: 0px 20px;
  background: $white;

  & .upload-images {
    padding: 18px 0 0 0;
    border-top: 1px solid $light-gray;
  }
}
