.storage-selector {
}

.storage-selector-list {
  background: #FFF;
  height: 80vw;
  max-height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: scroll;
  padding: 4px;
}

.storage-selector-list-item {
  max-width: 25%;
  align-self: center;
  overflow: hidden;
  margin-right: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

.storage-selector-list-item.list-item_folder,
.storage-selector-list-item.list-item_file {
  width: 100px;
  height: 100px;
  color: #555;
  text-align: center;
  overflow: hidden;
  .list-item-label {
    background: #f2f2f2;
    line-height: 20px;
    padding: 2px;
    overflow: hidden;
    border-radius: 5px;
    font-size: calc(9px + 0.25vw);
    text-overflow: ellipsis;
  }
  .list-item-icon {
    height: 48px;
    width: 48px;
    margin: 10px auto 10px;
    background: url('https://cdn2.hubspot.net/hubfs/2700250/storage-folder-icon@2x.png');
    background-size: 100%;
  }
}

.storage-selector-list-item.list-item_image {
  box-shadow: 0px 0px 2px 0px #CCC;
  position: relative;
  img {
    max-width: 100%;
    max-height: 200px;
  }
  &:hover {
    box-shadow: 1px 1px 10px 2px #CCC;
  }
  &::before {
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #4ab767;
    position:absolute;
  }
  &::after {
    content: '';
    display: none;
    width: 100%;
    height:100%;
    position: absolute;
    background: url('https://cdn2.hubspot.net/hubfs/2700250/storage-selected-icon@2x.png');
    background-size:24px;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
  }
  &.list-item--selected {
    &::before, &::after {
      display: block;
    }
  }  
}

.storage-selector-list-item {
  &:hover {
    .list-item-label {
      background: #4ab767; 
      color: #FFF;
    }
  }
  &.list-item--selected {
    .list-item-label {
      background: #4ab767; 
      color: #FFF;
    }
  }
}





