<ul>
  <li class="new-apps-intro">
    <h3>Try Our New UI</h3>
    <p>Simplified and Responsive</p>
  </li>  
  <li class="new-app">  
      <a class="new-app-link" href="https://editor.risevision.com/">New UI</a>
      <a href="https://rva.risevision.com/#PRESENTATIONS" target="_blank" link-cid>
        <div class="image"><img src="https://s3.amazonaws.com/Rise-Images/landing-page/editor-image.png"></div>
        <span>Editor</span>
      </a>
  </li>

  <li class="new-app">
      <a class="new-app-link" href="https://schedules.risevision.com/">New UI</a>
      <a href="https://rva.risevision.com/#SCHEDULES" target="_blank" link-cid>
        <div class="image"><img src="https://s3.amazonaws.com/Rise-Images/landing-page/schedule-image.png"></div>
        <span>Schedules</span>
      </a>
  </li>
  
  <li class="new-app">
      <a class="new-app-link" href="https://displays.risevision.com/">New UI</a>  
      <a href="https://rva.risevision.com/#DISPLAYS" target="_blank" link-cid>
        <div class="image"><img src="https://s3.amazonaws.com/Rise-Images/landing-page/displays-image.png"></div>
        <span>Displays</span>
      </a>
  </li>

  <li>
      <a href="https://store.risevision.com/" target="_blank" link-cid>
        <div class="image"><img src="https://s3.amazonaws.com/Rise-Images/landing-page/store-image.png"></div>
        <span>Store</span>
      </a>
  </li>

  <li>
      <a href="https://storage.risevision.com/" target="_blank" link-cid>
        <div class="image"><img src="https://s3.amazonaws.com/Rise-Images/landing-page/storage-image.png"></div>
        <span>Storage</span>
      </a>
  </li>

 
</ul>