<div id="companyIcpModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 id="icpModalTitle" class="modal-title">Customize your Rise Vision experience!</h3>
  </div>
  <div class="modal-body u_padding-lg" stop-event="touchend">    
    <form id="companyIcpForm" role="form" name="forms.companyIcpForm">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group" ng-class="{ 'has-error' : forms.companyIcpForm.name.$invalid && !forms.companyIcpForm.name.$pristine }">
            <label for="company-name" class="control-label">
              Company Name
            </label>
          <input required id="company-name" type="text" class="form-control"
            ng-model="company.name" name="name" />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="company-size" class="control-label">
              Company Size
            </label>
            <select id="company-size" class="form-control" ng-model="company.companySize">
              <option value="" ng-show="false">&lt; Select Size &gt;</option>
              <option ng-repeat="size in COMPANY_SIZE_FIELDS" value="{{size[1]}}">{{size[0]}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="company-role" class="control-label">
              What's your title?
            </label>
            <select id="company-role" class="form-control selectpicker" ng-model="user.companyRole">
              <option value="" ng-show="false">&lt; Select Role &gt;</option>
              <option ng-repeat="role in COMPANY_ROLE_FIELDS" value="{{role[1]}}">{{role[0]}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" ng-class="{ 'has-error' : forms.companyIcpForm.email.$invalid && !forms.companyIcpForm.email.$pristine }">
            <label for="email" class="control-label">Preferred Email</label>
            <input type="email" class="form-control email" name="email" id="email" required ng-model="user.email">
          </div>
        </div>
      </div>

      <div class="text-center">
        <h1 class="u_margin-xs-top">What's Your Industry?</h1>
        <h4 class="u_margin-xs-top u_margin-xs-bottom"> (Pick One) </h4>
      </div>

      <div class="panel panel-default grid-selector">

        <div id="" class="grid-selector-list text-center">

          <div class="no-select grid-selector-list-item" ng-class="{'list-item--selected' : company.companyIndustry === industry[1]}" ng-repeat="industry in ICON_INDUSTRY_FIELDS" ng-click="selectIndustry(industry[1]);"> 
            <img class="list-item-icon" ng-class="{{imgClasses}}" src="{{industry[2]}}" />
            
            <span class="list-item-label"> <b>{{industry[0]}}</b> </span>
          </div>

          <div class="no-select grid-selector-list-item" ng-class="{'list-item--selected' : otherSelected }" ng-click="selectOther()"> 
            <img class="list-item-icon" ng-class="{{imgClasses}}" src="https://cdn2.hubspot.net/hubfs/2700250/Assets%20May%5B17%5D/tick.svg" />
            
            <span class="list-item-label ng-binding"> <b>Other</b> </span>
          </div>

          <div class="grid-selector-list-item list-item-placeholder"></div>
          <div class="grid-selector-list-item list-item-placeholder"></div>
          <div class="grid-selector-list-item list-item-placeholder"></div>
          <div class="grid-selector-list-item list-item-placeholder"></div>
          <div class="grid-selector-list-item list-item-placeholder"></div>
          <div class="grid-selector-list-item list-item-placeholder"></div>
          <div class="grid-selector-list-item list-item-placeholder"></div>
          <div class="grid-selector-list-item list-item-placeholder"></div>

        </div>
      </div>
      
      <div class="text-center" id="pt-industry-selector" ng-show="otherSelected">
        <div class="form-inline">
          <div class="form-group">
            <img src="https://s3.amazonaws.com/Rise-Images/UI/r_arrow.png" class="icon-left">
            <label for="company-industry" class="control-label">
              Please specify: 
            </label>
            <select id="company-industry" class="form-control selectpicker u_margin-left" ng-model="company.companyIndustry">
              <option value="" ng-show="false">&lt; Select Industry &gt;</option>
              <option ng-repeat="industry in DROPDOWN_INDUSTRY_FIELDS | orderBy:industry[0]" value="{{industry[1]}}" ng-if="!industry[2]">{{industry[0]}}</option>
            </select>
          </div>
        </div>
      </div>


    </form>
  </div> <!-- //Modal Body -->

  <div class="modal-footer"> 
    <button id="saveButton" class="btn btn-primary ng-binding" ng-click="save()" ng-disabled="forms.companyIcpForm.$invalid">
      Apply 
      <i class="fa fa-check icon-right"></i>
    </button> 

    <button id="cancelButton" class="btn btn-link pull-left" ng-click="dismiss()">Ask Me Later </button> 
  </div>


</div>
