<div id="prioritySupportModal">
    <div class="modal-header">
        <button id="prioritySupportModalCloseButton" ng-click="dismiss()" type="button" class="close">
            <i class="fa fa-times"></i>
        </button>
        <h2 class="modal-title">Priority Support</h2>
    </div>
    <div class="modal-body" stop-event="touchend">

        <div class="u_margin-lg-bottom blank-state">
            <div class="product-graphic" ng-show="['trial-available', 'not-subscribed'].indexOf(subscriptionStatus.statusCode) >= 0">
                <img itemprop="image" class="img-responsive" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/support_image.png">
            </div>

            <div class="content-box-body" ng-show="subscriptionStatus.statusCode != 'subscribed'">
                <div class="product-intro">
                    <h1>Priority Support</h1>
                    <p class="lead">Get the help you need in 10 minutes or less, 8-5 CST Monday through Friday, or let us remotely connect, diagnose and correct display problems all without the need for you to intervene!</p>
                    <p class="lead">$75 per Company per Month.</p>
                    <a class="btn btn-hg btn-primary" href="{{supportProductUrl}}" ng-click="dismiss()" target="_blank">
                        <span>Subscribe Now!</span>
                    </a>
                </div>
            </div>
        </div><!--blank-state-->
    </div>
</div>
