
<ul>
    <li><a id="getStartedButton" href="https://help.risevision.com/hc/en-us/articles/115002868706-Get-started-with-Rise-Vision" target="_blank">Get Started</a></li>
    <li><a id="documentationButton" href="https://help.risevision.com/hc/en-us/" target="_blank">Help Center</a></li>
    <li><a id="askCommunityButton" href="https://help.risevision.com/hc/en-us/community/topics/" target="_blank">Ask the Community</a></li>
    <li><a id="getSupportButton" ng-click="getSupport()" href="">Get Support</a></li>
    <li><a id="askSalesButton" href="https://www.risevision.com/contact-us#sales" target="_blank">Ask Sales</a></li>
</ul>
