<div id="sendUsANoteModal">
    <div class="modal-header">
        <button id="sendUsANoteModalCloseButton" ng-click="dismiss()" type="button" class="close">
            <i class="fa fa-times"></i>
        </button>
        <h2 class="modal-title"></h2>
    </div>
    <div class="modal-body text-center" stop-event="touchend">
        <p class="lead">Send us a note and we will typically get back to you next business day.</p>

        <a ng-if="!loggedIn" href="https://www.risevision.com/contact/" target="_blank" class="btn btn-primary btn-lg">
          Send Us a Note
        </a>
        <button ng-if="loggedIn" class="btn btn-primary btn-lg" ng-click="sendUsANote()">
            Send Us a Note
        </button>

        <div class="content-box u_margin-md-top u_remove-bottom">
          <div class="content-box-body">
            <p class="lead u_margin-left u_margin-right">
                <strong>Need help fast?</strong>
                Check out Priority Support and have a response in <strong>10 minutes</strong>. We are online 8-5 CST Monday through Friday.
            </p>

            <a class="btn btn-primary btn-lg" href="{{supportProductUrl}}" ng-click="dismiss();" target="_blank">
                Subscribe Now
            </a>
      </div><!--content-box-body-->
    </div>
</div>
