<!-- Common Header Plan Info -->
<div>
  <div id="free-plan-banner" class="alert alert-plan plan-active text-right" ng-show="isFree()">
    <div class="u_margin-right">
      <strong>Get more out of Rise Vision!</strong>
      <a href="#" ng-click="showPlans()" class="u_margin-left">See Our Plans</a>
    </div>
  </div>

  <div class="alert alert-plan plan-active text-right" ng-show="isSubscribed()">
    <div class="u_margin-right">
      <strong>{{plan.name}} Plan</strong>
      <a href="#" ng-show="!isEnterpriseSubCompany()" ng-click="showPlans()" class="u_margin-left">Change Plan</a>
    </div>
  </div>

  <div class="alert alert-plan plan-active text-right" ng-show="isOnTrial()">
    <div class="u_margin-right">
      <strong>You have {{plan.trialPeriod}} days left on your Rise Vision {{plan.name}} Plan trial!</strong>
      <a href="#" ng-show="!isEnterpriseSubCompany()" ng-click="showPlans()" class="u_margin-left">Subscribe Now</a>
    </div>
  </div>

  <div class="alert alert-plan plan-suspended text-center" ng-show="isTrialExpired()">
    <div class="u_margin-right">
      <strong ng-show="!isProSubscribed()">Your Rise Vision {{plan.name}} Plan trial has expired! You are now on the Free Plan. Your Displays have been set to Standard.</strong>
      <strong ng-show="isProSubscribed()">Your Rise Vision {{plan.name}} Plan trial has expired! You are now on the Free Plan. Your Displays are still subscribed to Professional.</strong>
      <a href="#" ng-show="!isEnterpriseSubCompany()" ng-click="showPlans()" class="u_margin-left">Subscribe Now</a>
    </div>
  </div>

  <div class="alert alert-plan plan-suspended text-center" ng-show="isSuspended()">
    <div class="u_margin-right">
      <strong>There was an issue processing your payment. Please update your billing information. Your Displays may be affected.</strong>
      <a href="{{storeAccountUrl}}" target="_blank" class="u_margin-left">Update Billing</a>
    </div>
  </div>
</div>
