<!-- Common Header Plan Info -->
<div class="hidden-xs">
  <div id="parent-plan-banner" class="alert p-2 mb-0 bg-success text-right" ng-show="getVisibleBanner() === 'parent'">
    <div class="u_margin-right">
      <span class="font-weight-bold">{{plan.parentPlan.name}} Plan</span>
      <span class="ml-2">Managed by {{plan.parentPlanCompanyName || "the Parent Company"}}
        <!-- <a href="#" aria-label="Go to Parent Company">{{plan.parentPlanCompanyName}}</a> -->
      </span>
      <a href="#" ng-click="showPlans()" class="ml-3 btn btn-xs btn-primary">Change Plan</a>
    </div>
  </div>

  <div id="parent-purchased-plan-banner" class="alert p-2 mb-0 bg-success text-right" ng-show="getVisibleBanner() === 'parentPurchased'">
    <div class="u_margin-right">
      <span class="font-weight-bold">{{plan.name}} Plan</span>
      <span class="ml-2">Managed by {{plan.parentPlanCompanyName || "the Parent Company"}}</span>
    </div>
  </div>

  <div id="free-plan-banner" class="alert alert-plan plan-active text-right" ng-show="getVisibleBanner() === 'free'">
    <div class="u_margin-right">
      <span class="font-weight-bold">Get more out of Rise Vision!</span>
      <a href="#" ng-click="showPlans()" class="u_margin-left">See Our Plans</a>
    </div>
  </div>

  <div id="cancelled-plan-banner" class="alert alert-plan plan-active text-right" ng-show="getVisibleBanner() === 'cancelled'">
    <div class="u_margin-right">
      <span class="font-weight-bold">Your {{plan.name}} Plan subscription expires on {{ plan.currentPeriodEndDate | date : 'd-MMM-yyyy'}}</span>

      <a href="{{storeAccountUrl}}" target="_blank" link-cid class="ml-3 btn btn-xs btn-primary" ng-hide="isChargebee">Account Settings</a>
      <a ui-sref="apps.billing.home" class="ml-3 btn btn-xs btn-primary" ng-show="isChargebee">Account Settings</a>
    </div>
  </div>

  <div class="alert alert-plan plan-active text-right" ng-show="getVisibleBanner() === 'subscribed'">
    <div class="u_margin-right">
      <span class="font-weight-bold">{{plan.name}} Plan</span>
      <a href="#" ng-show="!isEnterpriseSubCompany()" ng-click="showPlans()" class="ml-3 btn btn-xs btn-primary">Change Plan</a>
    </div>
  </div>

  <div id="trial-plan-banner" class="alert alert-plan plan-active text-right" ng-show="getVisibleBanner() === 'trial'">
    <div class="u_margin-right">
      <span class="font-weight-bold">You have {{plan.trialPeriod}} days left on your Rise Vision {{plan.name}} Plan trial!</span>
      <a href="#" ng-show="!isEnterpriseSubCompany()" ng-click="showPlans()" class="ml-3 btn btn-xs btn-primary">Subscribe Now</a>
    </div>
  </div>

  <div class="alert alert-plan plan-suspended text-center" ng-show="getVisibleBanner() === 'expired'">
    <div class="u_margin-right">
      <span class="font-weight-bold" ng-show="!plan.playerProTotalLicenseCount">Your Rise Vision {{plan.name}} Plan trial has expired! You are now on the Free Plan. Your Displays are no longer Licensed.</span>
      <span class="font-weight-bold" ng-show="plan.playerProTotalLicenseCount">Your Rise Vision {{plan.name}} Plan trial has expired! You are now on the Free Plan. Some of your Displays are no longer Licensed.</span>
      <a href="#" ng-show="!isEnterpriseSubCompany()" ng-click="showPlans()" class="ml-3 btn btn-xs btn-primary">Subscribe Now</a>
    </div>
  </div>

  <div class="alert alert-plan plan-suspended text-center" ng-show="getVisibleBanner() === 'suspended'">
    <div class="u_margin-right">
      <span class="font-weight-bold">There was an issue processing your payment. Please update your billing information. Your Displays may be affected.</span>

      <a href="{{storeAccountUrl}}" target="_blank" link-cid class="ml-3 btn btn-xs btn-primary" ng-hide="isChargebee">Update Billing</a>
      <a ui-sref="apps.billing.home" class="ml-3 btn btn-xs btn-primary" ng-show="isChargebee">Update Billing</a>
    </div>
  </div>
</div>
