<div rv-spinner
rv-spinner-key="registration-modal"
rv-spinner-start-active="1">
<div class="modal-header">
  <button type="button" class="close registration-cancel-button" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
    <i class="fa fa-times"></i>
  </button>
  <h2 class="modal-title">Let's finish with your details</h2>
</div>
<div class="modal-body registration-modal" stop-event="touchend">
  
  <div class="row">
    <div class="col-sm-8">

      <form id="registrationForm" novalidate role="form" name="forms.registrationForm">
        <!-- First Name -->
        <div class="form-group" ng-class="{ 'has-error' : forms.registrationForm.firstName.$invalid && !forms.registrationForm.firstName.$pristine }">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control firstName"
          name="firstName"
          id="firstName" required autocomplete="fname"
          ng-model="profile.firstName">
          <p ng-show="forms.registrationForm.firstName.$invalid && !forms.registrationForm.firstName.$pristine"
            class="help-block validation-error-message-first-name">Enter First Name.</p>
        </div>
        <!-- Last Name -->
        <div class="form-group" ng-class="{ 'has-error' : forms.registrationForm.lastName.$invalid && !forms.registrationForm.lastName.$pristine }">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control lastName"
          name="lastName"
          id="lastName" required autocomplete="lname"
          ng-model="profile.lastName">
          <p ng-show="forms.registrationForm.lastName.$invalid && !forms.registrationForm.lastName.$pristine"
            class="help-block validation-error-message-last-name">Enter Last Name.</p>
        </div>
        <!-- Website -->
        <div class="form-group" ng-show="newUser" ng-class="{'has-error': forms.registrationForm.website.$error.website && !forms.registrationForm.website.$pristine}">
          <label for="website">Website</label>
          <input type="text" class="form-control website" placeholder="http://"
          name="website"
          id="website"
          ng-model="company.website" website-validator>
          <p ng-show="forms.registrationForm.website.$error.website && !forms.registrationForm.website.$pristine"
            class="help-block validation-error-message-website">Please provide a valid URL.</p>
        </div>
        <!-- Terms of Service and Privacy -->
        <div class="checkbox form-group" ng-class="{ 'has-error' : forms.registrationForm.accepted.$invalid && !userForm.accepted.$pristine }">
          <label for="accepted">
          <input type="checkbox" name="accepted"
            ng-model="profile.accepted"
            class="accept-terms-checkbox" required />
          I accept the terms of <a href="https://www.risevision.com/terms-of-service" target="_blank">Service and Privacy</a>
          <p ng-show="forms.registrationForm.accepted.$invalid && !forms.registrationForm.accepted.$pristine"
            class="help-block validation-error-message-accepted">You must accept terms and condtions.</p>
          </label>
        </div>
        <!-- Newsletter -->
        <div class="checkbox form-group">
          <label for="receive-newsletter">
            <input name="receive-newsletter" type="checkbox" class="sign-up-newsletter-checkbox" ng-model="profile.mailSyncEnabled"> Sign up for our newsletter
          </label>
        </div>
        <div class="u_margin-md-top">
          <button ng-click="save()"
            name="create-account"
            type="button"
            class="btn btn-lg btn-success btn-block registration-save-button"
            ng-disabled="registering">
            Create Account <i class="fa fa-white fa-check icon-right"></i>
          </button>
          <button type="button" class="btn hidden btn-lg btn-link btn-fixed-width"
          ng-disabled="registering"
          ng-click="closeModal()">
            Cancel
          </button>
        </div>
      </form>

    </div>
    <div class="col-sm-4">
      <div class="signup-counters">
        <div class="counter">
          <p>129</p>
          <span>New Companies Added Yesterday</span>
        </div>
        <div class="counter">
          <p>72,990</p>
          <span>Total Companies</span>
        </div>
        <div class="counter">
          <p>120</p>
          <span>Countries with Active Displays</span>
        </div>
      </div>
    </div>
  </div>  

  
</div>
</div>
