<div class="modal-body text-center">
  <div class="signup-modal">
    <div class="logo add-bottom">
      <img style="width:120px" src="//s3.amazonaws.com/rise-common/images/logo-small.png" alt="Rise Vision">
    </div>
    <h2 class="modal-title">Digital Signage Content Management</h2>
    <p class="text-muted">All you need is a Google Account. No credit card. No personal information. No risk.</p>

    <a class="add-top btn btn-hg btn-primary" ng-click="login('registrationComplete')">Get Started with Google <i class="fa fa-google fa-lg icon-right"></i></a>
    <p class="text-muted remove-bottom add-top">Don't have a Google Account? <a href="https://accounts.google.com/signup" target="_blank">Get One Here</a></p>
    <p class="text-muted">Already a Rise Vision User? <a ng-click="$event.preventDefault(); login('registrationComplete');" ng-href="#">Sign In</a></p>
  </div><!--signup-modal-->
</div><!--modal-body-->
