.id-form {
  cursor: default !important;
  background-color: #FFF !important;
  font-family: 'Lucida Console', Monaco, monospace;
  text-indent: 66px;
  letter-spacing: 19px;
  background: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 24px;
  line-height: 1.42857;
  color: #5b5b5b;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #dad7d4;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  /* On Medium Devices, Tablets */
  @media (max-width: 550px) {
    text-indent: 4px;
  }
  /* On Small Devices, Phones */
  @media (max-width: 480px) {
    letter-spacing: 16px;
    font-size: 17px;
  }
}

/* Deprecate Below
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== */

.display-name {
  span {
    @extend .u_ellipsis-md;
    max-width: 240px;
    display: inline-block;
    vertical-align: middle;
  }
}

.display-address {
  span {
    @extend .u_ellipsis-md;
    max-width: 320px;
    display: inline-block;
    vertical-align: middle;
  }
}

.offline {
  &:before {
    color: #e74c3c;
  }
}

.notinstalled {
  &:before {
    color: #444;
  }
}

.online {
  &:before {
    color: $rise-green;
  }
}

.display-product {
  padding: 4px 8px !important;
  & span,
  a {
    display: block;
    cursor: pointer;
  }
  & span:nth-child(2) {
    display: inline;
  }
}

.display-status {
  padding: 4px 8px !important;
  & span,
  a {
    display: block;
    cursor: pointer;
  }
  & .btn-link.btn-xs {
    display: block;
  }
}
