$short-phone-height: 570px;

.template-editor {
  --common-header-height: 93px;
  --toolbar-height: 78px;
  --footer-height: 98px;
  --sidebar-width: 400px;
  --component-header-height: 63px;
  --preview-holder-height: 200px;

  &.active-banner-mode { --common-header-height : 114px; }
  &.active-banner-mode-double { --common-header-height : 135px; }
  &.hide-sidebar { --sidebar-width: 0px; }

  --body-height: calc(var(--common-header-height) + var(--toolbar-height));
  --attribute-list-height: calc(100vh - var(--body-height));

  background-color: #FFF;
  height: calc(100vh - var(--common-header-height));
}

@media (max-width: $screen-sm) {
  .template-editor {
    --chrome-bar-height: 55px;
    --common-header-height: 55px;
    --sidebar-width: 360px;
    --body-height: calc(var(--chrome-bar-height) + var(--common-header-height) + var(--toolbar-height) + var(--footer-height));
    --attribute-list-height: calc(100vh - var(--body-height) - var(--preview-holder-height));

    height: calc(100vh - var(--chrome-bar-height) - var(--common-header-height));
    &.active-banner-mode { --common-header-height: 76px; }
    &.active-banner-mode-double { --common-header-height: 97px; }
    &.active-component {
      --toolbar-height: 63px;
      --body-height: calc(var(--chrome-bar-height) + var(--common-header-height) + var(--toolbar-height));

      &.desktop-mode {
        --body-height: calc(var(--common-header-height) + var(--toolbar-height));
      }
    }

    @media (max-height: $short-phone-height) {
      --toolbar-height: 50px;
      --preview-holder-height: 140px;
    }
  }
}

.template-editor-toolbar {
  display: flex;
  align-items: center;
  z-index: 100;
  border-bottom: 2px solid #f2f2f2;
  margin: 0px 20px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  height: var(--toolbar-height);

  & i {
    font-size: 18px;
  }

  & .presentation-name {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    white-space: nowrap;

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
    }
  }

  & .edit-name, .delete-presentation {
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;

    &:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.65;
      filter: alpha(opacity=65);
    }

    &:focus {
      outline: 0;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .50;
      filter: alpha(opacity=50);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  & .toolbar-right {
    display: flex;
    margin-left: auto;
    flex-wrap: nowrap;

    .auto-saving-changes {
      position: relative;
      width: 120px;
      height: 33px;
      margin-right: 20px;
      overflow: hidden;
      font-size: 12px;
      color: $dark-gray;
      white-space: nowrap;

      div {
        position: absolute;
        top: 50%;
        margin-top: -6px;
        right: 0px;

        div {
          width: 114px;
          margin-top: 0px;

          svg {
            fill: $rise-green;
            stroke: none;
            position: absolute;
            margin-left: 5px;
            margin-top: 1px;
          }
        }
      }
    }
  }

  & .btn {
    width: 152px;
  }

  & a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
}

.template-editor-body {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-flow: column-reverse;
}

@media (min-width: $screen-sm) {
  .template-editor-body {
    display: flex;
    flex-flow: row;
    height: calc(100vh - var(--body-height));
  }
}

.preview-holder {
  background-image: linear-gradient(white, lightgray);
  z-index: 10;
  width: 100%;
  height: var(--preview-holder-height);
  overflow: auto;

  @media (min-width: $screen-sm) {
    width: 100%;
    height: 100%;
  }
}

#template-editor-preview-parent {
  margin: 0px;

  @media (min-width: $screen-sm) {
    width: 100%;
  }

  @media (max-width: $screen-sm) {
    height: 100%;
    width: 320px;
    margin: auto;
    padding-bottom: 0px;
  }
}

#template-editor-preview {
  margin: 20px;
  transform-origin: top left;

  @media (max-width: $screen-sm) {
    margin: 10px;
  }
}

.attribute-editor {
  height: 100%;
  //padding: 0px 10px 20px 20px;

  @media (min-width: $screen-sm) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: var(--sidebar-width);
    width: var(--sidebar-width);
  }

  & a {
    cursor: pointer;
    text-decoration: none;
  }

  & .attribute-list {
    font-size: 1.1em;
    font-weight: bold;
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  & .attribute-list-hide {
    animation-name: slide-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-150%); }
  }

  @keyframes slide-in {
    0% { transform: translateX(-150%); }
    100% { transform: translateX(0%); }
  }

  @keyframes slide-in-right {
    0% { transform: translateX(150%); }
    100% { transform: translateX(0%); }
  }

  @keyframes slide-out-right {
    0% { transform: translateX(0%); }
    100% { transform: translateX(150%); }
  }

  & .attribute-list {
    font-size: 1.1em;
    font-weight: bold;
    height: var(--attribute-list-height);
    overflow-x: hidden;
    overflow-y: auto;
  }

  & .attribute-row {
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 0.5em 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  & .attribute-row-first {
    @extend .attribute-row;
    margin-top: 20px;
  }

  & .attribute-row-last {
    @extend .attribute-row;
    border-bottom: none;
  }

  & .attribute-desc {
    color: rgb(77, 77, 77);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & a {
      margin-right: 18px;
    }
  }

  & .attribute-edit {
    color: rgb(69, 183, 100);
  }

  & .component-header {
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px 0px 19px;
    margin: 0px 20px;

    &.visible-bottom-rule {
        border-bottom: 1px solid #e6e6e6;
    }

    & svg {
      fill: $dark-gray;
      stroke: none;
    }
  }

  & .arrow-icon {
    line-height: 10px;
  }
}

.template-editor-footer {
  padding: 0px 20px;
  background-color: #FFF;

  & > div {
    border-top: 2px solid #f2f2f2;
    padding: 10px 0;
  }

  & .btn {
    margin: 10px 0px;
  }

  .auto-saving-changes {
    position: relative;
    width: 100%;
    height: 25px;
    overflow: hidden;
    font-size: 12px;
    color: $dark-gray;
    white-space: nowrap;

    div {
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -5px;
      text-align: center;
    }

    .all-changes-saved-message {
      svg {
        fill: $rise-green;
        stroke: none;
        position: absolute;
        margin-left: 5px;
        margin-top: 1px;
      }
    }
  }
}

.te-scrollable-container {
  --base-size : 5px;
  overflow-y: auto;
}

.te-scrollable-container::-webkit-scrollbar {
  width: var(--base-size);
}

.te-scrollable-container::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: var(--base-size);
}

.te-scrollable-container::-webkit-scrollbar-thumb {
  border-radius: var(--base-size);
  background: gray;
}

.attribute-editor-show-from-right {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.attribute-editor-hide-to-right {
  animation-name: slide-out-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.attribute-editor-show-from-left {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.attribute-editor-hide-to-left {
  animation-name: slide-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.attribute-editor-component {
  position: relative;
}

// Storage
@media (min-width: $screen-sm) {
  .storage-selector-container {
    --storage-selector-button-bar-height: 115px;
    --storage-selector-body-height: calc(100vh - var(--body-height) - var(--component-header-height));
  }
}

@media (max-width: $screen-sm) {
  .storage-selector-container {
    --storage-selector-button-bar-height: 120px;
    --storage-selector-body-height: calc(100vh - var(--body-height));
  }
}

.storage-selector-component {
  --storage-column-width: 100%;

  height: calc(var(--storage-selector-body-height) - var(--storage-selector-button-bar-height));
  overflow-x: hidden;
  overflow-y: auto;

  .storage-selector-list {
    column-count: 2;
    column-gap: 5px;
    margin: 10px 20px 0;

    .storage-row {
      position: relative;
      break-inside: avoid-column;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
    }

    .folder-entry {
      text-align: center;
      background-color: $lighter-gray;
      margin-bottom: 5px;
      width: var(--storage-column-width);

      a {
        display: block;
        padding: 20px 10px;

        i {
          font-size: 42pt;
          color: $mid-gray;
        }

        .folder-name {
          margin-top: 5px;
          color: $dark-gray;
          font-weight: bold;
        }
      }
    }

    .file-entry {
      background: inherit;
    }

    .overlay-entry {
      position: absolute;
      top: 0;
      width: var(--storage-column-width);
      height: calc(100% - 5px);
      background-color: rgba(50, 106, 191, 0.8);
      cursor: pointer;
    }

    .overlay-content {
      position: absolute;
      top: 30%;
    }

    .overlay-icon {
      position: absolute;
      left: calc(50% - 16px);
      top: calc(50% - 16px);

      & svg {
        fill: $white;
        stroke: none;
      }
    }

    .overlay-text {
      position: absolute;
      width: calc(var(--storage-column-width) - 20%);
      left: 10%;
      bottom: 10px;
      color: $white;
      font-family: Helvetica;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    img {
      width: 100%;
      margin-bottom: 5px;
      background-color: $white;
      background-size: 14px 14px;
      background-position: 0 0, 7px 7px;
      background-image: linear-gradient(45deg, $mid-gray 25%, transparent 25%, transparent 75%, $mid-gray 75%, $mid-gray),
      linear-gradient(45deg, $mid-gray 25%, transparent 25%, transparent 75%, $mid-gray 75%, $mid-gray);
    }

    .selected-item {
      background-color: gray;
    }
  }

  .storage-selector-list-empty {
    color: $mid-gray;
    margin: 20px;

    h2 {
      font-size: 1.1em;
      font-weight: bold;
      padding: 0;
      margin-top: 0;
    }

    p {
      color: $dark-gray;
      font-size: 0.75em;
      line-height: 1.2;
      padding-bottom: 20px;
    }

    img {
      margin: 0 auto;
    }

    @media (max-width: $screen-sm) {
      .img-responsive {
        width: 70%;
      }
    }
  }
}

.storage-selector-action-button-bar {
  height: var(--storage-selector-button-bar-height);
  padding: 0px 20px;
  background: $white;

  & .upload-images {
    padding: 18px 0 0 0;
    border-top: 1px solid $light-gray;
  }

  & .add-selected {
    padding: 10px 0 0 0;

    button {
      background: $white;
      border-width: 2px;
      color: $rise-green;
    }
  }
}

.storage-upload-panel {
  margin-top: 5px;

  .storage-upload-header {
    background: #f7f7f7;
    padding: 10px 15px;
    color: $gray;
    cursor: pointer;
    overflow: hidden;
    p {
      float: left;
    }
    @media (max-width: $screen-sm) {
      p {
        float: none;
      }
      .actions-block {
        text-align: left;
      }
    }
  }
  .storage-upload-body {
    margin: 15px 20px;
    color: $gray;
  }
  p {
    overflow: hidden;
    margin: 5px 0 5px 0;
    a {
      text-transform: capitalize;
      float: right;
    }
  }
  .actions-block {
    text-align: right;
  }
  .collapse-control {
    line-height: 28px;
    padding: 0 15px;
    margin-right: -15px;
    float: right;
  }
}

// Madero is the codename of the new style-guide
.madero-style {
  $text-outline-color: #020620;
  $text-outline-fill: #999999;

  h4 {
    font-size: 18px;
    font-weight: bold;
    color: $text-outline-color;
  }

  p {
    color: $text-outline-color;
    font-size: 12px;
  }

  .btn {
    font-weight: bold;
  }

  .btn-default {
    background: $white;
    border-width: 2px;
    color: $rise-green;
    border-color: $rise-green;
    padding: 5px 12px;
  }

  &.centered-modal::before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 25%;
  }

  &.centered-modal {
    text-align: center;

    & .modal-dialog {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @media screen and (min-width: 768px) {
    &.centered-modal::before {
      height: 100%;
    }

    &.centered-modal {
      & .modal-dialog {
        width: 460px;
      }
    }
  }

  .modal-content {
    background: $white;

    .modal-header {
      background: inherit;
      border-bottom: 0;

      .close {
        width: 20px;
        height: 20px;
        margin: 5px 5px -5px 0px;
        & svg {
          fill: $text-outline-fill;
        }
      }

      @media (max-width: 480px) {
        .close {
          padding: inherit;
        }
      }

    }

    .modal-body {
      padding: 0px 20px 15px 20px;

      h4 {
        margin-top: 0px;
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 0px;
      }
    }

    .modal-footer {
      padding: 0px 20px 20px;
    }
  }

  &.primary-btn-danger .modal-footer {
    & .btn-primary {
      background: $danger;
      border-color: $danger;
    }

    & .btn-default {
      color: $white;
      border-width: 1px;
      background: $rise-green;
      border-color: $rise-green;
      padding: 6px 12px;
    }
  }
}
.attribute-component {
  .form-control {
    height: 40px;
    border-color: #999999;

    &:focus {
      border: 1px solid #107dda;
      box-shadow: none;
    }
  }

  .form-control-feedback {
    top: 32px;
    fill: #f2f2f2;
  }

  .has-error {
    .control-label {
      color: inherit;
    }
    .form-control {
      border-color: #d9534f;
    }
    .overlay-icon {
      fill: #d9534f;
    }
  }

  .has-success {
    .control-label {
      color: inherit;
    }
    .overlay-icon {
      fill: #45b764;
    }
  }

  .input-group-addon {
    border-color: #999999;
    background-color: #f2f2f2;
    color: #020620;
  }

  .input-duration {
    width: 140px;
  }

  .icon-help {
    fill: rgb(69, 183, 100);
    position: relative;
    top: 3px;
  }
}

.streamline-component-icon {
  display: inline-block;
  margin-right: .5rem;
  margin-top: .25rem;
}
