.template-editor {
  --header-height: 93px;
  --toolbar-height: 50px;
  --footer-height: 98px;
  --sidebar-width: 400px;
  --component-header-height: 44px;
  --preview-holder-height: 200px;

  &.active-banner-mode { --header-height : 111px; }
  &.active-banner-mode-double { --header-height : 132px; }
  &.hide-sidebar { --sidebar-width: 0px; }

  --total-height: calc(var(--header-height));
  --body-height: calc(var(--total-height) + var(--toolbar-height));
  --attribute-list-height: calc(100vh - var(--body-height));

  background-color: #FFF;
  height: calc(100vh - var(--total-height));
}

@media (max-width: $screen-sm) {
  .template-editor {
    --toolbar-height: 50px;
    --sidebar-width: 360px;
    --attribute-list-height: calc(100vh - var(--body-height) - var(--footer-height) - var(--preview-holder-height));
  }
}

.template-editor-toolbar {
  display: flex;
  align-items: center;
  z-index: 100;
  border-bottom: 2px solid #f2f2f2;
  padding: 18px 0px;
  margin: 0px 20px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  height: var(--toolbar-height);

  & i {
    font-size: 18px;
  }

  & .presentation-name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    white-space: nowrap;

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
    }
  }

  & .edit-name, .delete-presentation {
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;

    &:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.65;
      filter: alpha(opacity=65);
    }

    &:focus {
      outline: 0;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .50;
      filter: alpha(opacity=50);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  & .toolbar-right {
    display: flex;
    margin-left: auto;
    flex-wrap: nowrap;
  }

  & .btn {
    width: 152px;
  }

  & a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
}

.template-editor-body {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-flow: column-reverse;
}

@media (min-width: $screen-sm) {
  .template-editor-body {
    display: flex;
    flex-flow: row;
    height: calc(100vh - var(--body-height));
  }
}

.preview-holder {
  background-image: linear-gradient(white, lightgray);
  z-index: 10;
  width: 320px;
  height: var(--preview-holder-height);
  margin: auto;
  overflow-x: scroll;
  overflow-y: scroll;

  @media (min-width: $screen-sm) {
    width: 100%;
    height: 100%;
  }
}

.attribute-editor {
  height: 100%;
  //padding: 0px 10px 20px 20px;

  @media (min-width: $screen-sm) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: var(--sidebar-width);
    width: var(--sidebar-width);
  }

  & a {
    cursor: pointer;
    text-decoration: none;
  }

  & .attribute-list {
    font-size: 1.1em;
    font-weight: bold;
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  & .attribute-list-hide {
    animation-name: slide-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-150%); }
  }

  @keyframes slide-in {
    0% { transform: translateX(-150%); }
    100% { transform: translateX(0%); }
  }

  @keyframes slide-in-right {
    0% { transform: translateX(150%); }
    100% { transform: translateX(0%); }
  }

  @keyframes slide-out-right {
    0% { transform: translateX(0%); }
    100% { transform: translateX(150%); }
  }

  & .attribute-list {
    font-size: 1.1em;
    font-weight: bold;
    height: var(--attribute-list-height);
    overflow-x: hidden;
    overflow-y: auto;
  }

  & .attribute-row {
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 0.5em 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  & .attribute-desc {
    color: rgb(77, 77, 77);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .attribute-edit {
    color: rgb(69, 183, 100);
  }

  & .component-header {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 10px 0px;
    margin: 0px 20px;
  }

  & .arrow-icon {
    line-height: 10px;
  }
}

.template-editor-footer {
  padding: 0px 10px;
  background-color: #FFF;

  & > div {
    border-top: 2px solid #f2f2f2;
  }

  & .btn {
    margin: 10px 0px;
  }
}

.template-editor-confirm-modal {
  & .modal-header {
    background: inherit;
    border-bottom: 0;
  }

  & .modal-body {
    padding-top: 0;
  }

  & .modal-header .close {
    width: 40px;
    height: 40px;
  }

  & .modal-footer {
    background: rgb(242, 242, 242);
    padding-top: 1.2em;
  }

  & .modal-body p {
    font-weight: bold;
    text-align: center;
  }

  & .modal-footer button {
    border: inherit;
    font-weight: bold;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }

  & .modal-footer .btn-default {
    background: rgb(230, 230, 230);
  }
}

.te-scrollable-container {
  --base-size : 5px;
  overflow-y: auto;
}

.te-scrollable-container::-webkit-scrollbar {
  width: var(--base-size);
}

.te-scrollable-container::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: var(--base-size);
}

.te-scrollable-container::-webkit-scrollbar-thumb {
  border-radius: var(--base-size);
  background: gray;
}
