$short-phone-height: 570px;

.template-editor {
  --common-header-height: 93px;
  --toolbar-height: 78px;
  --footer-height: 98px;
  --sidebar-width: 400px;
  --component-header-height: 63px;
  --preview-holder-height: 200px;

  &.active-banner-mode { --common-header-height : 114px; }
  &.active-banner-mode-double { --common-header-height : 135px; }
  &.hide-sidebar { --sidebar-width: 0px; }

  --body-height: calc(var(--common-header-height) + var(--toolbar-height));
  --attribute-list-height: calc(100vh - var(--body-height));

  background-color: #FFF;
  height: calc(100vh - var(--common-header-height));
}

@media (max-width: $screen-sm) {
  .template-editor {
    --chrome-bar-height: 55px;
    --common-header-height: 55px;
    --sidebar-width: 360px;
    --body-height: calc(var(--chrome-bar-height) + var(--common-header-height) + var(--toolbar-height) + var(--footer-height));
    --attribute-list-height: calc(100vh - var(--body-height) - var(--preview-holder-height));

    height: calc(100vh - var(--chrome-bar-height) - var(--common-header-height));
    &.active-banner-mode { --common-header-height: 76px; }
    &.active-banner-mode-double { --common-header-height: 97px; }
    &.active-component {
      --toolbar-height: 63px;
      --body-height: calc(var(--chrome-bar-height) + var(--common-header-height) + var(--toolbar-height));

      &.desktop-mode {
        --body-height: calc(var(--common-header-height) + var(--toolbar-height));
      }
    }

    @media (max-height: $short-phone-height) {
      --toolbar-height: 50px;
      --preview-holder-height: 140px;
    }
  }
}

.template-editor-toolbar {
  display: flex;
  align-items: center;
  z-index: 100;
  border-bottom: 2px solid #f2f2f2;
  margin: 0px 20px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  height: var(--toolbar-height);

  & i {
    font-size: 18px;
  }

  & .presentation-name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    white-space: nowrap;

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
    }
  }

  & .edit-name, .delete-presentation {
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;

    &:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.65;
      filter: alpha(opacity=65);
    }

    &:focus {
      outline: 0;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .50;
      filter: alpha(opacity=50);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  & .toolbar-right {
    display: flex;
    margin-left: auto;
    flex-wrap: nowrap;
  }

  & .btn {
    width: 152px;
  }

  & a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
}

.template-editor-body {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-flow: column-reverse;
}

@media (min-width: $screen-sm) {
  .template-editor-body {
    display: flex;
    flex-flow: row;
    height: calc(100vh - var(--body-height));
  }
}

.preview-holder {
  background-image: linear-gradient(white, lightgray);
  z-index: 10;
  width: 100%;
  height: var(--preview-holder-height);
  overflow: auto;

  @media (min-width: $screen-sm) {
    width: 100%;
    height: 100%;
  }
}

#template-editor-preview-parent {
  margin: 0px;

  @media (min-width: $screen-sm) {
    width: 100%;
  }

  @media (max-width: $screen-sm) {
    height: 100%;
    width: 320px;
    margin: auto;
    padding-bottom: 0px;
  }
}

#template-editor-preview {
  margin: 20px;
  transform-origin: top left;

  @media (max-width: $screen-sm) {
    margin: 10px;
  }
}

.attribute-editor {
  height: 100%;
  //padding: 0px 10px 20px 20px;

  @media (min-width: $screen-sm) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: var(--sidebar-width);
    width: var(--sidebar-width);
  }

  & a {
    cursor: pointer;
    text-decoration: none;
  }

  & .attribute-list {
    font-size: 1.1em;
    font-weight: bold;
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  & .attribute-list-hide {
    animation-name: slide-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-150%); }
  }

  @keyframes slide-in {
    0% { transform: translateX(-150%); }
    100% { transform: translateX(0%); }
  }

  @keyframes slide-in-right {
    0% { transform: translateX(150%); }
    100% { transform: translateX(0%); }
  }

  @keyframes slide-out-right {
    0% { transform: translateX(0%); }
    100% { transform: translateX(150%); }
  }

  & .attribute-list {
    font-size: 1.1em;
    font-weight: bold;
    height: var(--attribute-list-height);
    overflow-x: hidden;
    overflow-y: auto;
  }

  & .attribute-row {
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 0.5em 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  & .attribute-row-first {
    @extend .attribute-row;
    margin-top: 20px;
  }

  & .attribute-row-last {
    @extend .attribute-row;
    border-bottom: none;
  }

  & .attribute-desc {
    color: rgb(77, 77, 77);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & a {
      margin-right: 18px;
    }
  }

  & .attribute-edit {
    color: rgb(69, 183, 100);
  }

  & .component-header {
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px 0px 19px;
    margin: 0px 20px;

    &.visible-bottom-rule {
        border-bottom: 1px solid #e6e6e6;
    }
  }

  & .arrow-icon {
    line-height: 10px;
  }
}

.template-editor-footer {
  padding: 0px 20px;
  background-color: #FFF;

  & > div {
    border-top: 2px solid #f2f2f2;
    padding: 10px 0;
  }

  & .btn {
    margin: 10px 0px;
  }
}

.template-editor-confirm-modal::before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 25%;
}

.template-editor-confirm-modal {
  & .modal-header {
    background: inherit;
    border-bottom: 0;
  }

  & .modal-body {
    padding-top: 0;
  }

  & .modal-header .close {
    width: 40px;
    height: 40px;
  }

  & .modal-footer {
    background: rgb(242, 242, 242);
    padding-top: 1.2em;
  }

  & .modal-body p {
    font-weight: bold;
    text-align: center;
  }

  & .modal-footer button {
    border: inherit;
    font-weight: bold;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }

  & .modal-footer .btn-default {
    background: rgb(230, 230, 230);
  }
}

@media screen and (min-width: 768px) {
  .template-editor-confirm-modal::before {
    height: 40%;
  }

  .template-editor-confirm-modal {
    & .modal-dialog {
      width: 350px;
    }
  }
}

.template-editor-message-box::before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 25%;
}

.template-editor-message-box {
  text-align: center;
  padding: 0!important;
  color: rgb(77, 77, 77);
  font-size: 12px;

  & .modal-dialog {
    display: inline-block;
    vertical-align: middle;
  }

  & .modal-header {
    background: inherit;
    border-bottom: 0;
  }

  & .modal-body {
    padding-top: 0;
    text-align: center;

    & .modal-title {
      font-size: 16px;
      font-weight: bold;
    }
  }

  & .modal-header .close {
    width: 40px;
    height: 40px;
  }

  & .modal-footer {
    background: rgb(242, 242, 242);
    padding-top: 1.2em;
  }

  & .modal-footer button {
    border: inherit;
    font-weight: bold;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }

  & .modal-footer .btn-default {
    background: rgb(230, 230, 230);
  }
}

@media screen and (min-width: 768px) {
  .template-editor-message-box::before {
    height: 100%;
  }

  .template-editor-message-box {
    & .modal-dialog {
      width: 460px;
    }
  }
}

.te-scrollable-container {
  --base-size : 5px;
  overflow-y: auto;
}

.te-scrollable-container::-webkit-scrollbar {
  width: var(--base-size);
}

.te-scrollable-container::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: var(--base-size);
}

.te-scrollable-container::-webkit-scrollbar-thumb {
  border-radius: var(--base-size);
  background: gray;
}

.attribute-editor-show-from-right {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.attribute-editor-hide-to-right {
  animation-name: slide-out-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.attribute-editor-show-from-left {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.attribute-editor-hide-to-left {
  animation-name: slide-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
