.template-editor {
  background-color: #FFF;
}

.template-editor-toolbar {
  display: flex;
  align-items: center;
  z-index: 100;
  border-bottom: 2px solid #f2f2f2;
  padding: 18px 0px;
  margin: 0px 20px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;

  & i {
    font-size: 18px;
  }

  & .presentation-name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    white-space: nowrap;

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
    }

    @media (min-width: $screen-sm) {
      max-width: calc(100vw - 440px);
    }
  }

  & .edit-name {
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;

    &:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.65;
      filter: alpha(opacity=65);
    }

    &:focus {
      outline: 0;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .50;
      filter: alpha(opacity=50);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  & .toolbar-right {
    display: flex;
    margin-left: auto;
    flex-wrap: nowrap;
  }

  & .btn {
    width: 152px;
  }

  & a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
}

.template-editor-body {
  margin-left: 0px;
  margin-right: 0px;
}

.preview-holder {
  padding: 20px;
  background-image: linear-gradient(white, lightgray);
  min-height: 50px;

  @media (min-width: $screen-sm) {
    min-height: calc(100vh - 180px);
  }
}

.attribute-editor {
  padding: 20px;
  min-height: calc(100vh - 190px);

  @media (min-width: $screen-sm) {
    padding: 20px;
    min-height: calc(100vh - 180px);
  }
}

.template-editor-footer {
  padding: 0px 10px;
  background-color: #FFF;

  & > div {
    border-top: 2px solid #f2f2f2;
  }

  & .btn {
    margin: 10px 0px;
  }
}

.template-editor-confirm-modal {
  & .modal-header {
    background: inherit;
    border-bottom: 0;
  }

  & .modal-body {
    padding-top: 0;
  }

  & .modal-header .close {
    width: 40px;
    height: 40px;
  }

  & .modal-footer {
    background: rgb(242, 242, 242);
    padding-top: 1.2em;
  }

  & .modal-body p {
    font-weight: bold;
    text-align: center;
  }

  & .modal-footer button {
    border: inherit;
    font-weight: bold;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }

  & .modal-footer .btn-default {
    background: rgb(230, 230, 230);
  }
}
