<div rv-spinner rv-spinner-key="plans-modal" rv-spinner-start-active="1">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" translate>common-header.plans.choose-plan</h3>
  </div>

  <div id="plans-modal" class="modal-body u_padding-lg" stop-event="touchend">
    <div class="text-center">
      <div class="btn-group" role="group" aria-label="...">
        <button ng-click="isMonthly = true" type="button" class="btn btn-default" ng-class="{  active: isMonthly }">Monthly</button>
        <button ng-click="isMonthly = false" type="button" class="btn btn-default" ng-class="{  active: !isMonthly }">Yearly</button>
      </div>
      <p class="u_padding-sm-vertical">Pay yearly, get one month free!</p>
    </div>
    <div class="pricing-table">
      <div id="planHeader" class="monthly">
        <div class="planColumn" ng-class="{ currentPlan: currentPlanLabelVisible(plan) }" ng-repeat="plan in plans">
          <div id="current-plan" class="currentPlanLabel" ng-show="currentPlanLabelVisible(plan)" translate>
            common-header.plans.current
          </div>

          <h2>{{plan.name}}</h2>
          <h3 class="planColumnPrice" ng-show="!isFree(plan) && !isStarter(plan)">
            <span>$10</span>${{ isMonthly ? plan.monthly.priceDisplayMonth : plan.yearly.priceDisplayMonth }}
          </h3>
          <h3 class="planColumnPrice" ng-show="isStarter(plan)">
            ${{ isMonthly ? plan.monthly.priceDisplayMonth : plan.yearly.priceDisplayMonth }}
          </h3>
          <p ng-show="!isFree(plan) && isMonthly" class="text-muted" translate translate-values="{ price: plan.monthly.billAmount }">
            common-header.plans.perDisplayBilledMonthly
          </p>
          <p ng-show="!isFree(plan) && !isMonthly" class="text-muted" translate translate-values="{ price: plan.yearly.billAmount }">
            common-header.plans.perDisplayBilledYearly
          </p>
          <div ng-show="!isFree(plan)">
            <h3>{{plan.proLicenseCount}}</h3>
            <span ng-show="plan.proLicenseCount === 1" translate>common-header.plans.displayIncluded</span>
            <span ng-show="plan.proLicenseCount > 1" translate>common-header.plans.displaysIncluded</span>
          </div>
          <p ng-show="showSavings(plan)" class="planSavings"
             translate translate-values="{ save: (isMonthly ? plan.monthly.save : plan.yearly.save) }">
            common-header.plans.saveEachYear
          </p>
          <p ng-show="!isFree(plan) && isCurrentPlanSubscribed(plan)" translate>
            common-header.plans.needMoreDisplays
          </p>
          <a ng-show="!isFree(plan) && isCurrentPlanSubscribed(plan) && !isChargebee()"
             href="https://www.risevision.com/purchaseadditionaldisplaylicenses" target="_blank" translate>
            common-header.plans.individual-licenses
          </a>
          <a ng-show="!isFree(plan) && isCurrentPlanSubscribed(plan) && isChargebee()"
             href="#" ng-click="purchaseAdditionalLicenses(plan)" translate>
            common-header.plans.individual-licenses
          </a>

          <!-- Trial remaining days -->
          <p id="trial-days-remaining" class="small u_margin-sm-bottom text-subtle" ng-show="isCurrentPlan(plan) && isOnTrial(plan)" translate
            translate-values="{ count: currentPlan.trialPeriod }">common-header.plans.days-left-trial</p>
          <!-- Trial expired notice -->
          <p class="small u_margin-sm-bottom text-danger" ng-show="isCurrentPlan(plan) && isTrialExpired(plan)" translate>common-header.plans.trial-expired</p>

          <a id="subscribe-plan" ng-if="!isChargebee()" ng-show="getVisibleAction(plan).indexOf('subscribe') === 0"
              target="_blank" href="https://store.risevision.com/product/{{plan.productId}}"
              class="btn btn-primary btn-block" translate>common-header.plans.subscribe</a>
          <a id="subscribe-plan-cb" ng-if="isChargebee()" ng-show="getVisibleAction(plan) === 'subscribe'"
              ng-click="showPurchaseModal(plan, isMonthly)"
              class="btn btn-primary btn-block" translate>common-header.plans.subscribe</a>
          <a id="subscribe-plan-cbp" ng-if="isChargebee()" ng-show="getVisibleAction(plan) === 'subscribe-portal'"
              ng-click="subscribePortal(plan)"
              class="btn btn-primary btn-block" translate>common-header.plans.subscribe</a>

          <a id="downgrade-plan" ng-if="!isChargebee()" ng-show="getVisibleAction(plan).indexOf('downgrade') === 0"
              target="_blank" href="https://www.risevision.com/downgradeplan"
              class="btn btn-default btn-block" translate>common-header.plans.downgrade</a>
          <a id="downgrade-plan-cb" ng-if="isChargebee()" ng-show="getVisibleAction(plan) === 'downgrade'"
              ng-click="showPurchaseModal(plan, isMonthly)"
              class="btn btn-default btn-block" translate>common-header.plans.downgrade</a>
          <a id="downgrade-plan-cbp" ng-if="isChargebee()" ng-show="getVisibleAction(plan) === 'downgrade-portal'"
              ng-click="downgradePortal(plan)"
              class="btn btn-default btn-block" translate>common-header.plans.downgrade</a>
          <a id="start-trial-plan" ng-show="getVisibleAction(plan) === 'start-trial'"
              target="_blank" ng-click="startTrial(plan)"
              class="btn btn-primary btn-block" translate>common-header.plans.start-trial</a>
        </div><!--plan-column-->
      </div>
      <div id="planFeatures">
        <div class="planFeatureColumn" id="planFreeFeatures">
          <h4 id="planFeatures" class="planFeatureColumnTitle" style="column-span: all;">You can use the following features for free on any of your displays!</h4>
          <div class="planFeature">
            <p class="featureTitle">Text</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Image by URL</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Video by URL</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">RSS</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Time & Date</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">HTML</p>
          </div>
        </div>
        <div class="planFeatureColumn" id="planPaidFeatures">
          <h4 class="planFeatureColumnTitle" style="column-span: all;">Key Features Included With All Paid Plans <span class="u_padding-sm-vertical">Everything in 'Free' +</span></h4>
          <div class="planFeature">
            <p class="featureTitle">Image Slideshows</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Video Playlists</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Unlimited Image & Video File Storage</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Pre-made Templates</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Centralized Content Control</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Scheduling</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Google Calendar</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Google Spreadsheet</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Twitter</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Web Pages</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Google Reliability & Security</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Account / Sub-Account Hierarchy</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">User Role Permissioning</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Display Monitoring Notifications</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Content Shows Offline</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Alert Integration</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Display On/Off Control</p>
          </div>
          <h4 class="text-center" style="column-span: all;"><a href="https://www.risevision.com/pricing" target="_blank">Learn More About Key Features</a></h4>
        </div>
      </div>
      <div id="planFooter"></div>
    </div>
    <div class="text-center u_padding-sm-vertical">
      <h3><a href="https://www.risevision.com/contact-us" target="_blank">Questions? We can help!</a></h3>
      <h3><a href="https://www.risevision.com/licensesubcompany" target="_blank">Need to license your Sub-Company?</a></h3>
    </div>

  </div> <!-- //Modal Body -->
  <div class="modal-footer"></div>
</div>
