<div>
  <button type="button" style="display: block; width: 100%; text-align: center; padding: 0.5em 0.5em 0 0; background: none; border: none; text-align: right" ng-click="dismiss()" aria-hidden="true">
    <i class="fa fa-lg fa-times" style="opacity: 0.4"></i>
  </button>

  <h3 style="font-weight: bold; text-align: center; margin-top: 0" translate>common-header.plans.pricing-component-title</h3>

  <div id=pricingComponentContainer>
    <pricing-component
      ng-attr-apply-discount="{{pricingComponentDiscount ? '' : undefined}}"
      ng-attr-prod-env="{{useProductionChargebeeData ? '' : undefined}}"
      rv-on="display-count-changed:refreshButton">
    </pricing-component>

    <button type="button" ng-disabled="!pricingAtLeastOneDisplay" ng-click="dismissAndShowPurchaseModal()" id="subscribeButton">I Want To Subscribe</button>
  </div>
</div>
