<div rv-spinner rv-spinner-key="plans-modal" rv-spinner-start-active="1">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" translate>common-header.plans.choose-plan</h3>
  </div>
  <div id="plans-modal" class="modal-body u_padding-lg" stop-event="touchend">
    <div ng-show="startTrialError" class="alert alert-danger u_margin-xs-bottom" translate>
      common-header.plans.error-starting-trial
    </div>
    <div class="grid-list row">
      <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="plan in plans">
        <div class="u_cursor_disabled panel panel-default">
          <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <div class="grid-list-text text-center">
              <h4 id="productName">{{plan.name}}</h4>
              <p class="product-description">{{plan.descriptionShort}}</p>
              <div>
                  <h1>${{plan.priceMonth}}</h1>
                  &nbsp;<span translate>common-header.plans.per-company-month</span>
              </div>
              <div class="u_margin-lg">
                <!-- Placeholder for statuses without extra information -->
                <p class="small u_margin-sm-bottom"
                  ng-show="!isOnTrial(plan) && !isTrialExpired(plan)">&nbsp;</p>
                <!-- Trial remaining days -->
                <p id="trial-days-remaining" class="small u_margin-sm-bottom"
                  ng-show="isCurrentPlan(plan) && isOnTrial(plan)" translate
                  translate-values="{ count: currentPlan.trialPeriod }">common-header.plans.days-left-trial</p>
                <!-- Trial expired notice -->
                <p class="small u_margin-sm-bottom text-danger"
                  ng-show="isCurrentPlan(plan) && isTrialExpired(plan)" translate>common-header.plans.trial-expired</p>
                <!-- Subscribed -->
                <a id="current-plan" ng-show="currentButtonVisible(plan)"
                    target="_blank"
                    class="cta_button btn btn-white" translate>common-header.plans.current</a>
                <!-- Subscribe CTA -->
                <a id="subscribe-plan" ng-show="subscribeButtonVisible(plan)"
                    target="_blank" href="https://store.risevision.com/product/{{plan.productId}}"
                    class="cta_button btn btn-primary" translate>common-header.plans.subscribe</a>
                <!-- Start Trial CTA-->
                <a id="start-trial-plan" ng-show="canStartTrial(plan)"
                    target="_blank" ng-click="startTrial(plan)"
                    class="cta_button btn btn-primary" translate>common-header.plans.start-trial</a>
                <!-- Downgrade CTA -->
                <a id="downgrade-plan" ng-show="canDowngrade(plan)" ng-click="showDowngradeModal()"
                    class="cta_button btn btn-default" translate>common-header.plans.downgrade</a>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end products plan -->
    </div> <!-- end Grid List -->

    <div ng-show="!showRPPLink" class="text-center u_margin-md-top">
      <a class="btn btn-link btn-lg get-started-guide" target="_blank" href="https://www.risevision.com/pricing?utm_campaign=apps" translate>
        common-header.plans.learn-more-1
      </a>
      <span class="bold" translate>common-header.plans.learn-more-2</span>
      <a class="btn btn-link btn-lg get-started-guide" target="_blank" href="https://www.risevision.com/contact-us" translate>
        common-header.plans.learn-more-3
      </a>
    </div>
    <div ng-show="showRPPLink && !proSubscriptionLinkVisible()" class="text-center u_margin-md-top">
      <a class="btn btn-link btn-lg" target="_blank" href="https://store.risevision.com/product/2048" link-cid translate>
        common-header.plans.individual-licenses
      </a>
      <a class="cta_button btn btn-primary u_margin-lg" target="_blank" href="https://store.risevision.com/product/2048" link-cid translate>
        common-header.plans.go-to-store
      </a>
    </div>
    <div ng-show="showRPPLink && proSubscriptionLinkVisible()" class="text-center u_margin-md-top">
      <a class="btn btn-link btn-lg" target="_blank" href="https://store.risevision.com/account/subscription/{{playerProSubscriptionId}}?cid={{companyId}}" translate>
        common-header.plans.individual-licenses
      </a>
      <a class="cta_button btn btn-primary u_margin-lg" target="_blank" href="https://store.risevision.com/account/subscription/{{playerProSubscriptionId}}?cid={{companyId}}" translate>
        common-header.plans.go-to-store
      </a>
    </div>

  </div> <!-- //Modal Body -->

  <div class="modal-footer"></div>
</div>
