<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 id="icpModalTitle" class="modal-title">Downgrade</h3>
  </div>
  <div class="modal-body u_padding-lg" stop-event="touchend">
    <div class="container-fluid text-center u_padding-lg">
      Downgrading an account needs to be processed through our Support team.  Please reach out and we'll help!
      <br/>
      <a class="btn btn-primary btn-lg u_margin-lg-top" href="https://www.risevision.com/contact-us" target="_blank"> Contact Us </a>
    </div> <!-- end container -->
  </div> <!-- //Modal Body -->
  <div class="modal-footer"></div>
</div>
