<h1 class="u_remove-top">Password Confirmation</h1>
<!-- CUSTOM LOGIN -->
<div>
  <!-- ERROR PANEL 1 -->
  <div class="panel-body bg-info u_margin-lg-top" ng-show="emailResetSent">
    <p class="u_remove-bottom">
      <i class="fa fa-warning icon-left"></i>
      <span>An email with password reset instructions has been sent to your email inbox.</span>
    </p>
  </div>
  <!-- ERROR PANEL 2 -->
  <div class="panel-body bg-danger u_margin-lg-top" ng-show="invalidPassword">
    <p class="u_remove-bottom"><i class="fa fa-warning icon-left"></i>
      <span>New Password must be at least four characters long.</span>
    </p>
  </div>
  <!-- ERROR PANEL 3 -->
  <div class="panel-body bg-danger u_margin-lg-top" ng-show="notMatchingPassword">
    <p class="u_remove-bottom"><i class="fa fa-warning icon-left"></i>
      <span>New Password and Confirm Password must match.</span>
    </p>
  </div>
  <!-- ERROR PANEL 4 -->
  <div class="panel-body bg-danger u_margin-lg-top" ng-show="invalidToken">
    <p class="u_remove-bottom"><i class="fa fa-warning icon-left"></i>
      <span>The password reset token is not valid. <a href="#" ng-click="requestPasswordReset()">Request Password Reset</a></span> 
    </p>
  </div>
</div>

<form id="resetPasswordForm" role="form" name="forms.resetPasswordForm" novalidate ng-show="!emailResetSent">
  <div class="col-md-8 col-xs-12 u_margin-md-top">
    <div class="form-group" ng-class="{'has-error': (forms.resetPasswordForm.$submitted && forms.resetPasswordForm.newPassword.$invalid)}" show-errors>
      <label class="control-label">New Password</label>
      <input type="password" class="form-control" name="name" ng-model="credentials.newPassword" required focus-me="true">
    </div>
    <div class="form-group" ng-class="{'has-error': (forms.resetPasswordForm.$submitted && forms.resetPasswordForm.confirmPassword.$invalid)}" show-errors>
      <label class="control-label">Confirm Password</label>
      <input type="password" class="form-control" name="name" ng-model="credentials.confirmPassword" required>
    </div>

    <button id="startError" class="btn btn-primary btn-hg" ng-disabled="forms.resetPasswordForm.$invalid" ng-click="resetPassword()">Update Password</button>
  </div>
</form>
